# Ignore Python cache directories
__pycache__/

# Ignore JetBrains IntelliJ IDEA files
.idea/

# Ignore Python virtual environment
venv/

# Commonly ignored files
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.py~  # Vim swap files
.DS_Store
Thumbs.db
